.product-title {
    font-weight: 500;
}

.product-price {
    color:rgb(3, 100, 100);
    font-weight: 500;
    font-size: 1.25rem;
}

.pr-img-dashboard {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.pr-desc {
    font-size: 1.25rem;
}
